.mainContainer {
    padding: 15px;
}

.inputField1 {
    width: 400px;
}

.inputField2 {
    width: 200px;
}

.form {
    display: flex;
    flex-direction: row;
}

.formDiv1 {
    margin-left: 20px;
}

.formDiv2 {
    margin-left: 80px;
}

.errorLabel {
    color: red;
    font-size: 12px;
  }