.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    background-color: #FCFBF4;
    width: 100%;
}

.contentContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 58vh;
    background-color: #e4c1f9;
    border-radius: 15px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 64px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
  }

.ptag {
    max-width: 400px;
}

@media screen and (max-width: 850px) {

}